.container{
    width: 100%;
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
}

.main-Container{
    width: 100%;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    
}

.topMain h1{
    text-align: center;
    margin-top: 10px;
    color: #FFEA00;
}
.topMain h3{
    text-align: center;
    margin-top: 10px;
    color: #36454F;
}

.topMain p{
    text-align: center;
    margin-top: 15px;
    color: #808080;
}


